@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

button:hover {
    cursor: pointer;
}

.main-header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 700;
    width: 100%;
    height: 70px;
}

.header-content {
    display: flex;
    gap: 16px; 
    align-items: center; 
    margin-right: 20px;
}

.menu-icon {
    display: none;
}

.menu-wrapper {
    display: none;
    position: relative;
}

.menu-container {
    display: none;
    flex-direction: column;
    width: 250px;
    gap: 5px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: absolute; 
    top: 100%; 
    right: 0; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
}

.menu-title {
    font-family: 'Inter-Medium', sans-serif;
    font-size: 16px;
}

.logout-menu-btn {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    font-family: 'Inter-Medium', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #000000;
}

@media (max-width: 700px) {
    .menu-wrapper {
        display: flex;
        position: relative;
        padding-bottom: 5px;
    }

    .header-content {
        display: none;
    }

    .menu-icon {
        display: flex;
        border: none;
        cursor: pointer;
        height: 25px;
        width: 25px;
        margin-right: 20px;
    }
}

.menu-wrapper:hover .menu-container,
.menu-container:hover {
    display: flex;
}

.logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 45px 92px 45px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scale-up-center {
    animation: scale-up-center 0.5s;
}

@keyframes scale-up-center {
    0% {
        transform: scale(.3)
    }

    100% {
        transform: scale(1)
    }
}

.form-input {
    background-color: #D9D9D9;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 14px;
    border: 0px;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 7px 2px 7px;
}

.dropdown {
    border: 1px solid #000000;
    font-size: 14px;
}

.text-btn {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 13px;
    border: 0px;
    border-bottom: 2px solid;
    padding: 0px;
}

.text-btn.primary {
    color: #203875;
    border-color: #203875;

}

.text-btn.secondary {
    color: #262529;
    border-color: #262529;
}

.container {
    background-color: #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
    min-height: calc(100vh - 68px);
    padding: 15px 0px 15px 0px;
}

.title {
    color: black;
    font-size: 25px;
    margin-bottom: 12px;
    width: 100%;
    font-family: 'Inter-Bold', sans-serif;
}

.form-btn {
    border-radius: 10px;
    height: 38px;
    min-width: 240px;
    width: 100%;
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 14px;
}

.form-btn.primary {
    background-color: #203875;
    color: #FFFFFF;
    border: 0px;
}

.form-btn.secondary {
    background-color: #D9D9D9;
    color: #203875;
    border: 1.5px solid #203875;
}

.form-btn.secondary:hover {
    background-color: #bebebe;
}

.form-btn.primary:hover {
    background-color: #132146;
}

.form-btn.secondary.icon {
    background-color: #d9d9d900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 11px;
    height: 50px;
}

.register-container {
    display: flex;
    flex-direction: column;
    background-color: #262529;
    min-height: 100vh;
}

.forgot-pass-btn {
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    border: 0px;
    margin-top: 9px;
}

.btns-container {
    width: 100%;
    gap: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns-container.login {
    margin-top: 38px;
}

.btns-container.register {
    margin-top: 30px;
}

.loading {
    padding: 20px;
    gap: 10px;
    color: #000;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-error {
    padding: 30px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-family: 'Inter-Regular';
}

/*##########BREAKPOINT TABLET##########*/
@media (width <= 768px) {
    .card {
        padding: 45px;
    }
}

/*##########BREAKPOINT MOBILE##########*/
@media (width <= 480px) {
    
}
