body{
  background-color: black;
}

label{
  font-size: 13px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  background-color: black;
  width: 100%;
  height: 100%;
  color: white;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

h1{
  margin: 0px;
  display: inline;
}

.msg-card-container{
  display: flex;
  width: 500px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding-bottom: 15px;
}

.msg-card-container li{
  list-style-type: none;
  display: flex;
  font-size: 18px;
  color: #000000;
  border: #cbcbcb solid 1px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 500;
  padding: 5px 5px 5px 15px;
  align-items: center;
}

.msg-card-container li span{
  margin-left: 10px;
  display: flex;
  list-style-type: none;
  font-size: 12px;
}

.msg-card-container .selected{
  border: 2px solid #d60b0b;
}

.msg-card-container li:hover{
background-color: #cbcbcb;
cursor: pointer;
}

.msg-card-container ul{
  padding-left: 0%;
  width: 90%;
}

.msg-buttons-container{
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.msg-button{
  width: 145px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
}

.btn-positive{
  background-color: black;
  color: #fff;
}

.btn-negative{
   color:black;
   background-color: #fff;
}

.msg-button:disabled{
  background-color: #cbcbcb;
}

.subtitle-text{
  color: #333;
  font-size: 18px;
  font-weight: 700;
}

.svg-button{
  background-color: transparent;
  border: none;
  display: flex;
  height: 25px;
  width: 25px;
  background-size: cover;
  outline: none;
  transition: transform 0.3s ease;
}

.svg-button:hover{
  transform: scale(1.3);
}

.btn-svg-container{
    background-color: #D9D9D9;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.btn-svg-container:hover{
  border: black solid 2px;
  filter: invert(100%);
  transform: scale(1.3);
  transition: transform 0.3s ease-in;
}

.btn-svg-container:hover :active{
  transform: translateY(2px);
}

