.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(28, 45, 74, 0.58);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    display: flex;
    position: relative;
    background-color: #fff;
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 10px;
}

.modal-close-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.msg-text-container{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* ToastContainer.css */
.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .toast {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
  }
  
  .toast.success {
    background-color: #4caf50;
  }
  
  .toast.error {
    background-color: #f44336;
  }
  
  .toast.info {
    background-color: #2196f3;
  }