.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(28, 45, 74, 0.58);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    display: flex;
    position: relative;
    background-color: #fff;
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 10px;
}

.modal-close-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
}